<form ng-submit="vm.login()" method="post" name="vm.loginForm">

  <div class="callout callout-danger" ng-if="vm.loginfailederror">
    <h4>Đăng Nhập Thất Bại</h4>
    <p>{{ vm.loginfailederror }}</p>
  </div>

  <div class="callout callout-danger" ng-if="vm.loginfailed">
    <h4>Đăng Nhập Thất Bại</h4>
    <p>Sai tên đăng nhập hoặc mật khẩu.</p>
  </div>

  <div class="callout callout-success" ng-if="vm.successMsg">
    <h4>Thành Công!</h4>
    <p>{{ vm.successMsg }}</p>
  </div>

  <div class="form-group has-feedback">
    <input type="text" class="form-control" placeholder="Tên đăng nhập" name="username" ng-model="vm.username" ng-required="true">
    <span class="glyphicon glyphicon-user form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback">
    <input type="password" class="form-control" placeholder="Mật khẩu" name="password" ng-model="vm.password" ng-required="true">
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-primary btn-block btn-flat">
        Đăng Nhập
      </button>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-xs-6">
    <div class="pull-left">
      <a ui-sref="admin.forgot_password">Quên mật khẩu?</a>
    </div>
  </div>
</div>
