<section class="content-header">
  <h1>Chủ đề<small>Module description here</small></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="admin.landing"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li><a ui-sref="admin.usernames">Role Lists</a></li>
    <li class="active">Edit User Role</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="box box-primary">

        <div class="box-header with-border">
          <h3 class="box-title">Sửa chủ đề</h3>
        </div>

        <form class="form-horizontal" name="categoryForm" ng-submit="vm.save(categoryForm.$valid)" novalidate>
          <div class="box-body">

            <div ng-if="vm.alerts" class="alert alert-{{alert.type}}" ng-repeat="alert in vm.alerts">
              <h4>{{alert.title}}</h4>
              <p>{{alert.msg}}</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error': categoryForm.name.$invalid && ( vm.formSubmitted || categoryForm.name.$touched) }">
              <label for="name" class="col-sm-2 control-label"> Tên chủ đề </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.category.data.name" name="name" placeholder="Tên chủ đề" required>
                <p ng-show="categoryForm.name.$error.required && ( vm.formSubmitted || categoryForm.name.$touched)" class="help-block">Thông tin này là bắt buộc.</p>
              </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error': categoryForm.slug.$invalid && ( vm.formSubmitted || categoryForm.slug.$touched) }">
              <label for="slug" class="col-sm-2 control-label"> SEO URL </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="vm.category.data.slug" name="slug" placeholder="SEO URL" required>
                <p ng-show="categoryForm.slug.$error.required && ( vm.formSubmitted || categoryForm.slug.$touched)" class="help-block">Thông tin này là bắt buộc.</p>
              </div>
            </div>

          </div>
          <div class="box-footer">
            <a ui-sref="admin.category" class="btn btn-default"><i class="fa fa-angle-double-left"></i> Trở về</a>
            <button type="submit" class="btn btn-primary pull-right">Cập Nhật</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
